@model IEnumerable<ProyectoF.Models.Empleado>
@{
      ViewBag.Title = "Totalizar";
}

<h2>Totalizar</h2>

Total de la nomina es: @ViewBag.TotalSalario <br />
Total de empleados es: @ViewBag.TotalEmpleados